<div id="<%= dom_id daily_price %>">
  <div>
    <strong>Stock:</strong>
    <%= daily_price.stock %>
  </div>

  <div>
    <strong>Date:</strong>
    <%= daily_price.date %>
  </div>

  <div>
    <strong>Open:</strong>
    <%= daily_price.open %>
  </div>

  <div>
    <strong>Low:</strong>
    <%= daily_price.low %>
  </div>

  <div>
    <strong>High:</strong>
    <%= daily_price.high %>
  </div>

  <div>
    <strong>Close:</strong>
    <%= daily_price.close %>
  </div>

  <div>
    <strong>Last:</strong>
    <%= daily_price.last %>
  </div>

  <div>
    <strong>Volume:</strong>
    <%= daily_price.volume %>
  </div>

  <div>
    <strong>Turnover:</strong>
    <%= daily_price.turnover %>
  </div>

  <div>
    <strong>Extras:</strong>
    <%= daily_price.extras %>
  </div>

</div>
