<div id="<%= dom_id daily_price %>">
  <div>
    <strong>Stock:</strong>
    <%= daily_price.stock %>
  </div>

  <div>
    <strong>Date:</strong>
    <%= daily_price.trade_date %>
  </div>

  <div>
    <strong>Open:</strong>
    <%= daily_price.open_price %>
  </div>

  <div>
    <strong>Low:</strong>
    <%= daily_price.low_price %>
  </div>

  <div>
    <strong>High:</strong>
    <%= daily_price.high_price %>
  </div>

  <div>
    <strong>Close:</strong>
    <%= daily_price.close_price %>
  </div>

  <div>
    <strong>Last:</strong>
    <%= daily_price.last_price %>
  </div>

  <div>
    <strong>Volume:</strong>
    <%= daily_price.traded_qty %>
  </div>

  <div>
    <strong>Turnover:</strong>
    <%= daily_price.turnover_lacs %>
  </div>

  <div>
    <strong>Extras:</strong>
    <%= daily_price.extras %>
  </div>

</div>
