<p style="color: green"><%= notice %></p>

<%= render @daily_price %>

<div>
  <%= link_to "Edit this daily price", edit_daily_price_path(@daily_price) %> |
  <%= link_to "Back to daily prices", daily_prices_path %>

  <%= button_to "Destroy this daily price", @daily_price, method: :delete %>
</div>
