<div id="<%= dom_id metric %>">
  <div>
    <strong>Date:</strong>
    <%= metric.date %>
  </div>

  <div>
    <strong>Pe:</strong>
    <%= metric.pe %>
  </div>

  <div>
    <strong>Pb:</strong>
    <%= metric.pb %>
  </div>

  <div>
    <strong>Mcap:</strong>
    <%= metric.mcap %>
  </div>

  <div>
    <strong>Fundamentals:</strong>
    <%= metric.fundamentals %>
  </div>

  <div>
    <strong>Stock:</strong>
    <%= metric.stock_id %>
  </div>

</div>
