<p style="color: green"><%= notice %></p>

<%= render @metric %>

<div>
  <%= link_to "Edit this metric", edit_metric_path(@metric) %> |
  <%= link_to "Back to metrics", metrics_path %>

  <%= button_to "Destroy this metric", @metric, method: :delete %>
</div>
