<div id="<%= dom_id stock %>">
  <div>
    <strong>Stock:</strong>
    <%= stock.stock %>
  </div>

  <div>
    <strong>Name:</strong>
    <%= stock.name %>
  </div>

  <div>
    <strong>Isin:</strong>
    <%= stock.isin %>
  </div>

  <div>
    <strong>Active:</strong>
    <%= stock.active %>
  </div>

  <div>
    <strong>Mappings:</strong>
    <%= stock.mappings %>
  </div>

  <div>
    <strong>Exchange:</strong>
    <%= stock.exchange_id %>
  </div>

</div>
