<div id="<%= dom_id document %>">
  <div>
    <strong>Doc type:</strong>
    <%= document.doc_type %>
  </div>

  <div>
    <strong>Title:</strong>
    <%= document.title %>
  </div>

  <div>
    <strong>S3 key:</strong>
    <%= document.s3_key %>
  </div>

  <div>
    <strong>Metadata:</strong>
    <%= document.metadata %>
  </div>

  <div>
    <strong>Stock:</strong>
    <%= document.Stock_id %>
  </div>

</div>
